<div id="details-modal-view" class="modal">

    <div class="modal-content">
      
        <!-- Header to form -->
        <div class="text-center">
            <h2><i class="bi bi-file-person-fill"></i><br>{{ 'harry poter' }} - Details</h2>
        </div>

        <hr class="my-4">
        
        <div class="row p-3">
            <div class="col"><img style="max-height: 425px;" src="{{ Char.image != '' ? Char.image : '../../../../../../assets/no-img-placeholder.png' }}" class="rounded w-100" alt="{{ Char.image ? (Char.name + 'image') : 'Not Image Avalible' }}"></div>
            <div class="col">
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Name: <span class="text-muted">{{ Char.name }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Year Of Birth: <span class="text-muted">{{ Char.yearOfBirth ? Char.yearOfBirth  : 'Unknow...' }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Age: <span class="text-muted">{{ Char.yearOfBirth ? (Char.yearOfBirth | GetAge) : 'Unknow...' }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Gender: <span class="text-muted">{{ Char.gender ? (Char.gender | titlecase) : 'Unknow...' }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Species: <span class="text-muted">{{ Char.species ? (Char.species | titlecase) : 'Unknow...'  }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>Patronus: <span class="text-muted">{{ Char.patronus ? (Char.patronus | titlecase) : 'Unknow...' }}</span></h5>
                    </div>
                </div>
                
                <hr class="my-1">
                
                <div class="row">
                    <div class="col rounded my-2 w-100">
                        <h5>House: <span class="text-muted">{{ Char.patronus ? (Char.house | titlecase) : 'Unknow...' }}</span></h5>
                    </div>
                </div>
            </div>
        
        <hr class="my-4">

        <div class="text-center">
            <a class="btn btn-outline-dark  w-100" (click)="Details.emit(DetailsToggle=false)">Back</a>
        </div>
        
    </div>
</div>
