<div class="container my-4">
    <table class="table table-resposive align-middle table-borderless table-hover text-center">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="width: 5%">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Species</th>
            <th scope="col" style="width: 10%;">Age</th>
            <th scope="col">House</th>
            <th scope="col">Patronus</th>
            <th scope="col">More info</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 5rem;" *ngFor="let char of DataFromApi; let i=index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ char.name }}</td>
            <td>{{ char.gender ? char.gender : 'Unknow...' }}</td>
            <td>{{ char.species ? char.species : 'Unknow...' }}</td>
            <td>{{ char.yearOfBirth ? (char.yearOfBirth | GetAge ) : 'Unknow...' }}</td>
            <td>{{ char.house ? char.house : 'Unknow...' }}</td>
            <td>{{ char.patronus ? char.patronus : 'Unknow...' }}</td>
            <th>
              <button class="btn btn-outline-dark  w-100">See details</button>
            </th>
          </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
    <div *ngIf="NoData">
        <h4 class="text-center">There is no results for that...</h4>
    </div>

    <div *ngIf="!DataLoaded">
      <h4 class="text-center">Waiting for the server response, pease stand by...</h4>
    </div>
</div>