<div class="container">
    <div class="nav nav-pills nav-fill">
        <a class="nav-link mx-2" routerLink="house/slytherin" routerLinkActive="active bg-success">Slytherin</a>
        <a class="nav-link mx-2" routerLink="house/gryffindor" routerLinkActive="active bg-danger">Gryffindor</a>
        <a class="nav-link mx-2" routerLink="all" routerLinkActive="active bg-secondary">All characters</a>
        <a class="nav-link mx-2" routerLink="house/ravenclaw" routerLinkActive="active bg-primary">Ravenclaw</a>
        <a class="nav-link mx-2" routerLink="house/hufflepuff" routerLinkActive="active bg-warning">Hufflepuff</a>
    </div>
</div>
